* {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #212121;
  width: 100%;
  height: 559px;
  color: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 11px;
  padding-left: 24px;
}
header .top {
  display: flex;
  align-items: center;
}
header .top .form-left {
  display: flex;
  align-items: center;
}
header .top .form-left .logo {
  height: 34px;
  margin-right: 24px;
}
header .top .form-left .item {
  height: 42px;
  width: 300px;
  border: 1px solid #d9d9d9;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 10px 10px 10px 40px;
  font-size: 16px;
  background: url("/assets/images/icons/Search.svg") no-repeat left 10px center;
  margin-right: -1px;
}
header .top .form-left .region-select {
  height: 42px;
  width: 254px;
  border: 1px solid #d9d9d9;
  padding-left: 16px;
  font-size: 16px;
  margin-right: -1px;
}
header .top .form-left button {
  background-color: #f65858;
  height: 42px;
  width: 42px;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .top .form-left button .search_logo {
  height: 42px;
  width: 42px;
}
header .nav-right {
  display: flex;
  align-items: center;
  margin-left: 49.87px;
}
header .nav-right .btn-English {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: #212121;
  margin-right: 12px;
}
header .nav-right .btn-English img {
  height: 16px;
  margin-right: 8px;
}
header .nav-right .link-login {
  margin-right: 12px;
  font-size: 14px;
  color: #212121;
  transition: color 0.3s ease;
}
header .nav-right .link-login:hover {
  color: #00798a;
}
header .nav-right .btn-signup {
  background-color: #00798a;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 6px 16px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}
header .nav-right .btn-signup:hover {
  background-color: #005f6b;
}

.intro {
  display: flex;
  margin-top: 72px;
}
.intro .text-content {
  max-width: 50%;
}
.intro .text-content h1 {
  font-weight: 700;
  font-size: 42px;
  line-height: 52px;
  color: #212121;
  max-width: 600px;
}
.intro .text-content p {
  font-size: 16px;
  font-weight: 400;
  max-width: 608px;
  line-height: 24px;
  margin-top: 24px;
}
.intro .text-content .join-btn {
  background-color: #00798a;
  width: 125px;
  height: 40px;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
  margin-top: 24px;
  font-weight: 400;
}
.intro .text-content .join-btn:hover {
  background-color: #005f6b;
}
.intro .image-content {
  display: flex;
  width: 50%;
}
.intro .image-content img {
  margin: 0px auto;
  max-width: 379px;
  min-width: 215px;
}

.events .location-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 122.5px;
  margin-bottom: 24px;
}
.events .location-selector div {
  display: flex;
  align-items: center;
}
.events .location-selector div h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #212121;
}
.events .location-selector div a {
  color: #00798a;
  background-color: rgba(151, 202, 209, 0.1215686275);
  text-decoration: none;
  padding: 11px 12px;
  margin-left: 20px;
  border-radius: 8px;
}
.events .location-selector div a img {
  margin-left: 8px;
  height: 16px;
}
.events .location-selector div a:hover {
  text-decoration: underline;
}
.events .location-selector > a {
  color: #00798a;
  text-decoration: none;
}
.events .location-selector > a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 1100px) {
  .events .location-selector {
    flex-direction: column;
    align-items: flex-start;
  }
  .events .location-selector > a {
    margin-top: 12px;
  }
}

.online-events .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.online-events .top h2 {
  font-size: 24px;
  font-weight: bold;
  color: #212121;
  margin: 0;
}
.online-events .top a {
  text-decoration: none;
  color: #00798a;
  font-weight: 500;
}
.online-events .top a:hover {
  text-decoration: underline;
}

#events-near, #online-events {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
}
#events-near .v-card, #online-events .v-card {
  width: 272px;
  padding-top: 16px;
  margin-bottom: 28px;
}
#events-near .v-card > .cover, #online-events .v-card > .cover {
  height: 153px;
  width: 272px;
  border-radius: 8px;
  padding: 5px 10px;
}
#events-near .v-card > .cover > .type, #online-events .v-card > .cover > .type {
  width: 125px;
  height: 20px;
  background-color: white;
  border-radius: 4px;
  color: #707070;
  display: flex;
  align-items: center;
}
#events-near .v-card > .cover > .type > img, #online-events .v-card > .cover > .type > img {
  margin: 0 4px;
}
#events-near .v-card > img, #online-events .v-card > img {
  height: 153px;
  width: 272px;
  border-radius: 8px;
  margin-right: 12px;
}
#events-near .v-card > .info, #online-events .v-card > .info {
  margin-top: 12px;
}
#events-near .v-card > .info > h4, #online-events .v-card > .info > h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}
#events-near .v-card > .info > .category, #online-events .v-card > .info > .category {
  color: #707070;
  margin-top: 8px;
}
#events-near .v-card > .info > .date, #events-near .v-card > .info > div > .attendees, #events-near .v-card > .info > div > .cost, #online-events .v-card > .info > .date, #online-events .v-card > .info > div > .attendees, #online-events .v-card > .info > div > .cost {
  display: flex;
  align-items: center;
  color: #212121;
}
#events-near .v-card > .info > .date, #online-events .v-card > .info > .date {
  margin-top: 8px;
}
#events-near .v-card > .info > div, #online-events .v-card > .info > div {
  margin-top: 12px;
}
#events-near .v-card > .info > .date > img, #events-near .v-card > .info > div > .attendees > img, #events-near .v-card > .info > div > .cost > img, #online-events .v-card > .info > .date > img, #online-events .v-card > .info > div > .attendees > img, #online-events .v-card > .info > div > .cost > img {
  margin-right: 6px;
}

.h-card {
  display: flex;
  border-top: 1px solid #d9d9d9;
  padding-top: 16px;
  margin-bottom: 28px;
}
.h-card > img {
  height: 105px;
  width: 159px;
  border-radius: 8px;
  margin-right: 12px;
}
.h-card > .info > .date {
  color: #7c6f50;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.35px;
}
.h-card > .info > h4 {
  font-size: 16px;
  font-weight: 500;
  margin-top: 4px;
}
.h-card > .info > .category {
  color: #707070;
  font-size: 14px;
}
.h-card > .info > .attendees {
  color: #707070;
  font-weight: 400;
  font-size: 14px;
  margin-top: 48px;
}
.h-card:last-child {
  margin-bottom: 100px;
}

button:hover {
  cursor: pointer;
}

main > * {
  max-width: 1192px;
  margin: 0px auto;
}

/*# sourceMappingURL=style.css.map */
