.doings {
    margin-top: 12px;
    margin-bottom: 56px;
    display: flex;

    .location-selector {
        div {
            .location-selector-button {
                background-color: #f6f7f8;
                border: none;
                height: 46px;
                max-width: 200px; // Видалено дублювання max-width
                padding: 16px;
                border-radius: 40px;
            }
        }
    }
}