.events {

    // Блок выбора локации
    .top {
        display: flex;
        justify-content: space-between; // Элементы выравниваются по началу
        align-items: center;

        margin-bottom: 24px;

        // Левый блок с заголовком и локацией
        h2 {
            margin: 0;
            font-size: 24px;
            font-weight: bold;
            color: #212121;
        }

        // Локация (Mountain View)
        >a:first-of-type {
            display: flex;
            align-items: center;
            color: #00798a;
            background-color: #97cad11f;
            text-decoration: none;
            padding: 11px 12px;
            margin-left: 20px; // Убираем отступ между "Events near" и "Mountain View"
            border-radius: 8px;

            img {
                margin-left: 8px;
                height: 16px;
            }

            &:hover {
                text-decoration: underline;
            }
        }

        // Правая ссылка "See all events" (для первого блока)
        >a:last-of-type {
            color: #00798a;
            text-decoration: none;
            font-size: 14px;
            margin-left: auto; // Сдвигаем "See all events" вправо

            &:hover {
                text-decoration: underline;
            }
        }
    }

    // Для второго "See all events" (для второго блока .top)
    .events .top a:last-of-type  {
        color: #00798a;
        text-decoration: none;
        font-size: 14px;
        margin-left: auto;

        &:hover {
            text-decoration: underline;
        }
    }

}



// Медиа-запрос для адаптивности
@media screen and (max-width: 1100px) {
    .top {
        flex-direction: column;
        align-items: flex-start;

        >a {
            margin-top: 12px;
        }
    }
}