#find-out-events {
    margin-top: 81px;

    >h3 {
        margin-top: 16px;
        margin-bottom: 4px;
        color: #00798A;
        padding-bottom: 4px; // Отступ от текста до линии
        position: relative; // Для позиционирования псевдоэлемента

        &::after {
            content: ''; // Псевдоэлемент для линии
            position: absolute;
            transform: translateX(-98%); // Центрируем точно по горизонтали
            bottom: 0; // Линия прямо под текстом
            width: 60px; // Ширина линии
            height: 4px; // Толщина линии
            background-color: #00798A; // Цвет линии
        }
    }

    .selects {
        margin-top: 12px;
        margin-bottom: 56px;

        select {
            appearance: none; // Убираем стандартный стиль браузера
            background-color: #f6f7f8; // Светлый фон
            border: none; // Без границы
            height: 46px; // Высота
            width: 200px; // Фиксированная ширина
            padding: 0 40px 0 16px; // Отступы для текста
            border-radius: 40px; // Закруглённые края
            font-size: 14px; // Размер шрифта
            color: #000; // Цвет текста
            cursor: pointer; // Указатель при наведении
            background-image: url('/assets/images/icons/Vector1.svg'); // Стрелка
            background-repeat: no-repeat; // Запрет на повтор фона
            background-position: right 16px center; // Расположение стрелки
            background-size: 10px 10px; // Размер стрелки
        }
    }
    #map {
        >div {
            margin-top: 14px;
            width: 350px;
            height: 285px;
            background-image: url("/assets/images/NewYorkMap.jpg");
            background-size: cover; /* Обеспечивает, что изображение карты будет полностью покрывать контейнер */
            background-position: center; /* Центрирует изображение */
            position: relative; /* Для корректного позиционирования вложенных элементов */
            border-radius: 10px; /* Слегка округленные углы для более плавного вида */
    
            .top {
                display: flex;
                justify-content: flex-end;
                padding: 15px;
    
                button {
                    background-color: white;
                    width: 15px;
                    height: 15px;
                    border: none;
                    border-radius: 50%; /* Круглая форма кнопки */
                    cursor: pointer; /* Показывает, что кнопка интерактивная */
                }
            }
    
            .bottom {
                height: 240px;
                display: flex;
                justify-content: center;
                align-items: flex-start; /* Выравнивание кнопки к верхней части */
                padding-top: 50px; /* Отступ от верхней части карты */
                width: 100%; /* Обеспечивает, чтобы кнопка полностью помещалась */
    
                button {
                    height: 40px;
                    width: 172px;
                    border: 2px solid #00798a;
                    border-radius: 8px;
                    background-color: white;
                    font-size: 14px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    color: #00798a;
                    font-weight: 500;
                    margin-top: 77.5px;
                    transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
    
                    >img {
                        margin-left: 8px;
                    }
    
                    &:hover {
                        width: 200px;
                        background-color: #eaf6f6; /* Добавляет мягкий эффект при наведении */
                    }
                }
            }
        }
    
        @media screen and (max-width: 1050px) {
            display: none; /* Скрывает карту на маленьких экранах */
        }
    }
}