#how-meetup-works {
    >.cards {
        display: flex;
        justify-content: space-between;
        margin-top: 24px;

        >.card {
            display: flex;
            max-width: 580px;
            background-color: #97cad114;
            border-radius: 8px;
            padding: 24px;

            >img {
                width: 40px;
                height: 40px;
                margin-right: 24px;
            }

            >.info {
                display: flex;
                flex-direction: column;

                >p {
                    margin-top: 16px;
                }

                >a {
                    margin-top: 16px;
                }
            }
        }
    }

    @media screen and (max-width: 1100px) {
        padding: 0px 15px;

        >.cards {
            display: flex;
            flex-direction: column;
            align-items: center;

            >.card {
                max-width: 360px;

                &:last-child {
                    margin-top: 12px;
                }
            }
        }
    }
}