.intro {
    display: flex;
    margin-top: 72px;

    .text-content {
        max-width: 50%;

        h1 {
            font-weight: 700;
            font-size: 42px;
            line-height: 52px;
            color: #212121;
            max-width: 600px;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            max-width: 608px;
            line-height: 24px;
            margin-top: 24px;
        }

        .join-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            background-color: #00798a;
            width: 125px;
            height: 40px;
            border: none;
            border-radius: 8px;
            color: white;
            font-size: 16px;
            transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
                border 0.3s ease-in-out;
            margin-top: 24px;
            font-weight: 400;

            &:hover {
                background-color: #005f6b;
            }
        }
    }

    .image-content {
        display: flex;
        width: 50%;

        img {
            margin: 0px auto;
            max-width: 379px;
            min-width: 215px;
        }
    }
}