$v-card-width: 272px;
$v-card-height: 153px;
$border-radius: 8px;
$gray-color: #707070;
$dark-color: #212121;



#events-near, #online-events {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));


.v-card {

  width: $v-card-width;
  padding-top: 16px;
  margin-bottom: 28px;

  &>.cover {
    height: $v-card-height;
    width: $v-card-width;
    border-radius: $border-radius;
    padding: 5px 10px;

    &>.type {
      width: 125px;
      height: 20px;
      background-color: white;
      border-radius: 4px;
      color: $gray-color;
      display: flex;
      align-items: center;

      &>img {
        margin: 0 4px;
      }
    }
  }

  &>img {
    height: $v-card-height;
    width: $v-card-width;
    border-radius: $border-radius;
    margin-right: 12px;
  }

  &>.info {
    margin-top: 12px;

    &>h4 {
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
    }

    &>.category {
      color: $gray-color;
      margin-top: 8px;
    }

    &>.date,
    &>div>.attendees,
    &>div>.cost {
      display: flex;
      align-items: center;
      color: $dark-color;
    }

    &>.date {
      margin-top: 8px;
    }

    &>div {
      margin-top: 12px;
    }

    &>.date>img,
    &>div>.attendees>img,
    &>div>.cost>img {
      margin-right: 6px;
    }
  }
}
}